<mat-toolbar color="primary" class="title-spacer">
  <mat-toolbar-row>
    <span>
      {{ title }}
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <mat-list-item>
        <button mat-button color="primary">Movies List</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary">Add Movie</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <playwith-tailwind-movie-card
      *ngFor="let movie of movies" [movie]='movie'
    ></playwith-tailwind-movie-card>
  </mat-drawer-content>
</mat-drawer-container>
